* {
    margin: 0;
    padding: 0;
}

img, video {
    max-width: 100%;
}

.container {
    max-width: 816px;
    margin: 0 auto;
    padding: 0 20px;
}

@font-face {
    font-family: Poppins-Regular;
    src: url(../font/Poppins-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Poppins-Bold;
    src: url(../font/Poppins-Bold.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Poppins-ExtraBold;
    src: url(../font/Poppins-ExtraBold.woff2);
    font-weight: 400;
}

header {
    padding: 7px 0px;
    border-bottom: 1px solid #DFDFDF;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container {
    height: 50.13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 240px;
    height: 50.13px;
    object-fit: contain;
    display: block;
}

.reasonwrapper {
    padding: 30px 40px 48px;
}

.textRed {
    color: #ff0000;
}

.mainHeading {
    margin-bottom: 12px;
    padding: 0;
    border: 0;
    text-transform: uppercase;
    font-size: 36px;
    font-family: Poppins-ExtraBold;
    font-weight: 900;
    line-height: 1.2em;
}

.topcontent {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    font-family: Poppins-Regular;
}

.topcontent:not(:first-child) {
    margin-top: 8px;
    font-family: Poppins-Regular;
}

hr.top {
    margin-top: 25px;
    border: none;
    border-top: 1px solid #EBEBEB;
    font-family: Poppins-Regular;
}

.reasons {
    display: flex;
    flex-direction: column;
}

.c_reason {
    display: flex;
    row-gap: 4%;
    position: relative;
    max-width: 100%;
    min-width: auto;
    align-self: stretch;
    column-gap: 4%;
    flex-basis: auto;
    margin-top: 32px;
    min-height: 1px;
    align-items: center;
    flex-shrink: 0;
    font-family: Poppins-Regular;
}

.c_reason.reverse {
    flex-direction: row-reverse;
}

.leftC {
    width: 391.69px;
    flex: 0 0 391.69px;
}

.rightC {
    width: 391.69px;
    flex: 0 0 391.69px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.leftC video,
.leftC img {
    display: block;
    border-radius: 8px;
    width: 391.69px;
    height: 391.69px;
    object-fit: cover;
}

.reasonHeading,
.rasonHeading,
.desktopHeading {
    font-size: 32px;
    font-family: Poppins-Bold;
    font-weight: 800;
    line-height: 1.2;
    text-transform: uppercase;
    max-width: 100%;
    width: 100%;
}

.rightC strong {
    font-size: 32px;
    font-family: Poppins-Bold;
    font-weight: 800;
    line-height: 1.2;
    text-transform: uppercase;
    display: block;
    max-width: 100%;
    width: 100%;
}

.mobileHeading {
    display: none;
}

.reasontxt {
    font-size: 16px;
    line-height: 1.6;
    color: #282828;
    max-width: 100%;
    width: 100%;
    font-family: Poppins-Regular;
}

.productinfo {
    padding: 30px 40px 48px;
}

.productcontainer {
    max-width: 1000px;
    margin: 0 auto;
}

.productsaletitle h2 {
    color: #282828FF;
    font-size: 36px;
    font-family: Poppins-Bold;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 1.2;
    text-align: center;
}

.productinfowrapper {
margin-top: 40px;
flex-direction: row;
gap:4% ;
}
.productinfowrapper > div {
    flex: 1 1 0;
    max-width: 48%;

}

.swiper-button-prev,.swiper-button-next{
    height: 40px !important;
    width: 40px  !important;
    background-color: #fff;
    border-radius: 50%;
}

.swiper-button-next svg, .swiper-button-prev svg {
    width: 20px !important;
    height: 20px !important;
}
.swiper-button-next svg path, .swiper-button-prev svg path {
    width: 20px !important;
    height: 20px !important;
    color: #282828;
}
@media (max-width: 768px) {
    .container {
        padding: 0 15px;
        max-width: 100%;
    }

    .productinfo {
        padding: 30px 24px 48px;
    }

    .productcontainer {
        padding: 30px 40px 48px;
    }

    .reasonwrapper {
        padding: 20px 15px 30px;
    }

    .mainHeading {
        font-size: 24px;
    }

    .reasonHeading, 
    .rasonHeading,
    .desktopHeading,
    .rightC strong {
        font-size: 24px;
    }

    .c_reason,
    .c_reason.reverse {
        flex-direction: column;
        row-gap: 4%;
        width: 100%;
    }

    .leftC, .rightC {
        width: 100%;
        flex: 0 0 100%;
    }

    .rightC {
        gap: 12px;
    }

    .leftC video,
    .leftC img {
        width: 100%;
        height: auto;
    }

    .desktopHeading {
        display: none;
    }

    .mobileHeading {
        display: block;
        margin-bottom: 0px;
    }
}